<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="accounts" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <appSettings>
    <add key="DefaultAccount" value="" />
    <add key="ApiVersion" value="4.1" />
  </appSettings>
  <accounts>
  </accounts>
</configuration>