<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commands" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <appSettings>
    <add key="Account" value="" />
    <add key="Project" value="" />
    <add key="Token" value="" />
    <add key="DefaultUserDomain" value="@microsoft.com" />
    <add key="ApiVersion" value="4.1" />
  </appSettings>
  <commands>
    <add key="update" value="-update {0} --c {1} --r {2}" />
    <add key="clear" value="-clear" />
  </commands>
</configuration>