<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="CultureInfo" value="en-IN" /> <!-- en-US -->
    <add key="VoiceGender" value="Neutral" /> <!-- Female, Male, Neutral, NotSet -->
    <add key="VoiceAge" value="NotSet" /> <!-- Child, Teen, Adult, Senior, NotSet -->
    <add key="VoiceAlternate" value="1" />
    <add key="BotId" value="YellyBot" />
    <add key="DirectLineSecret" value="" />
    <add key="BotUser" value="yelly" />
  </appSettings>
</configuration>
