<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="CultureInfo" value="en-IN" />
    <add key="VoiceGender" value="Neutral" />
    <add key="VoiceAge" value="Adult" />
    <add key="VoiceAlternate" value="1" />
  </appSettings>
</configuration>
